# Nightly build pipeline

trigger: none # No CI build

pr: none # Not for pull requests

schedules:
- cron: "0 6 * * *" # Time is UTC
  displayName: Nightly Build
  branches:
    include:
      - master
  always: true

pool:
  vmImage: 'ubuntu-latest'

jobs:
- template: all-tests-job-template.yml
  parameters:
    name: Linux
    vmImage: 'ubuntu-16.04'

- template: all-tests-job-template.yml
  parameters:
    name: Windows
    vmImage:  'vs2017-win2016'
    
- template: all-tests-job-template.yml
  parameters:
    name: MacOS
    vmImage:  'macOS-10.13'
    pyVersions: [3.6, 3.7] 

- template: notebook-job-template.yml
  parameters:
    name: LinuxNotebooks
    vmImage: 'ubuntu-16.04'
