# Nightly build pipeline

variables:
  FreezeArtifactStem: 'freeze'
  FreezeFileStem: 'requirements-freeze'

trigger: none # No CI build

pr: none # Not for pull requests

schedules:
- cron: "0 10 * * *" # Time is UTC
  displayName: Nightly Build
  branches:
    include:
      - main
  always: true

pool:
  vmImage: 'ubuntu-latest'

jobs:
- template: templates/all-tests-job-template.yml
  parameters:
    platforms:  { Linux: ubuntu-latest, Windows: vs2017-win2016 }
    installationType: 'PipLocal'
    pyVersions: [3.6, 3.7, 3.8, 3.9]
    freezeArtifactStem: $(FreezeArtifactStem)
    freezeFileStem: $(FreezeFileStem)
    
- template: templates/all-tests-job-template.yml
  parameters:
    platforms: { MacOS: macos-latest }
    testRunTypes: ['Unit']
    installationType: 'None'
    pyVersions: [3.6, 3.7, 3.8, 3.9]
    freezeArtifactStem: $(FreezeArtifactStem)
    freezeFileStem: $(FreezeFileStem)

- template: templates/limited-installation-job-template.yml
