# Required for fairlearn
matplotlib>=3.2.1
numpy>=1.17.2
pandas>=0.25.1
scikit-learn>=0.22.1
scipy>=1.4.1

# Required for environment
autopep8
flake8
flake8-blind-except
flake8-builtins
flake8-docstrings
flake8-logging-format
flake8-rst-docstrings
requirements-parser

# Required for test
nbformat
# Pin papermill due to notebook test issue on Windows with python 3.5 & 3.6
papermill<2.0.0
# Pin pytest due to VS Code issue
pytest==5.0.1
pytest-cov
pytest-mock
pytest-mpl>=0.11
nteract-scrapbook
tempeh==0.1.12
wheel
lightgbm
xlrd

# Required for notebooks
jupyter
nbval
shap

# Required for documentation
sphinx
sphinx-gallery
