# Requirements for Fairlearn development

# Required for environment
autopep8
flake8
flake8-blind-except
flake8-builtins
flake8-copyright
flake8-docstrings
flake8-logging-format
flake8-rst-docstrings
requirements-parser

# Required for test
nbformat
papermill
# Pin pytest due to VS Code issue
pytest==5.0.1
pytest-cov
pytest-mock
pytest-mpl>=0.11
nteract-scrapbook
wheel
lightgbm
xlrd

# Required for notebooks
jupyter
nbval

# Required for documentation
bokeh
pypandoc
sphinx
sphinx-gallery
git+https://github.com/Holzhaus/sphinx-multiversion.git
pydata-sphinx-theme==0.6.3
sphinx-autodoc-typehints