# Requirements for Fairlearn development

# Required for environment
flake8<6  # Having strange issue with latest release
autopep8<2.0.1 # To ensure compatibility with flake8<6
flake8-blind-except
flake8-builtins
flake8-copyright
flake8-docstrings
flake8-logging-format
flake8-rst-docstrings
requirements-parser

# Required for test
nbformat
papermill
# Pin pytest due to VS Code issue
pytest==7.1.1
pytest-cov
pytest-mock
pytest-mpl>=0.11
nteract-scrapbook
wheel
lightgbm
xlrd

# Required for notebooks
jupyter
nbval

# Required for documentation
bokeh
pypandoc
sphinx==4.5.0
sphinx-gallery
numpydoc
pydata-sphinx-theme==0.12.0
sphinx-autodoc-typehints
sphinxcontrib-bibtex
packaging
