#requirements
numpy==1.24.4
pandas==2.0.3
scikit-learn==1.2.1
scipy==1.9.3

#requirements-dev
ruff==0.4.5
requirements_parser==0.11.0
black==24.4.2
pytest==8.3.5
pytest_cov==6.1.1
pytest-mock==3.14.0
pytest-mpl==0.17.0
wheel==0.45.1
lightgbm==4.6.0
xlrd==2.0.1
pypandoc==1.15.0
sphinx==7.3.7
sphinx-gallery==0.19.0
numpydoc==1.8.0
pydata-sphinx-theme==0.14.4
sphinx-autodoc-typehints==2.0.1
sphinxcontrib-bibtex==2.6.3
sphinx-prompt==1.8.0
sphinx-copybutton==0.5.2
jupyterlite_sphinx==0.19.1
jupyterlite-pyodide-kernel==0.5.2
packaging==24.2
seaborn==0.13.2
torch==2.6.0
sphinx-issues==5.0.1
