# This CircleCI workflow builds our documentation into HTML pages.
# The generated pages are viewable as artifacts in CircleCI.
# CircleCI can be run on PRs from forks & allows viewing stored artifacts
# without download. Azure Pipelines and GitHub Actions currently don't
# support certain actions on PRs from forks so we can't use them for this.

version: 2.0

jobs:
  build-doc:
    docker:
      - image: cimg/python:3.8.12

    working_directory: ~/tmp-fairlearn
    steps:
      # check out PR branch
      - checkout

      - run:
          name: Show Python version
          command: python --version

      - run:
          name: Show Ubuntu version
          command: lsb_release -a

      - run:
          name: Update apt
          command: sudo apt update

      - run:
          name: Install pandoc
          command: sudo apt-get install pandoc pandoc-citeproc

      - run:
          name: Upgrade pip, setuptools, and wheel before installing other dependencies
          command: python -m pip install --upgrade pip setuptools wheel
      
      - run:
          name: 'Install required packages'
          command: python scripts/install_requirements.py --pinned False

      - run:
          name: "Build Documentation"
          command: python scripts/build_documentation.py --documentation-path=docs --output-path=docs/_build/html
          no_output_timeout: 30m

      - persist_to_workspace:
          root: docs/_build
          paths: html
      
      # additionally store artifacts to make them viewable in the CircleCI UX
      - store_artifacts:
          path: docs/_build/html

  build-doctest:
    docker:
      - image: cimg/python:3.8.12

    working_directory: ~/tmp-fairlearn
    steps:
      # check out PR branch
      - checkout

      - run:
          name: Show Python version
          command: python --version

      - run:
          name: Show Ubuntu version
          command: lsb_release -a

      - run:
          name: Update apt
          command: sudo apt update

      - run:
          name: Install pandoc
          command: sudo apt-get install pandoc pandoc-citeproc

      - run:
          name: Upgrade pip, setuptools, and wheel before installing other dependencies
          command: python -m pip install --upgrade pip setuptools wheel
      
      - run:
          name: 'Install required packages'
          command: python scripts/install_requirements.py --pinned False
      
      - run:
          name: 'Build doctest'
          command: python -m sphinx -v -b doctest -n -j auto docs docs/_build/html
          no_output_timeout: 30m
      
  deploy-doc:
    docker:
      - image: cimg/node:14.0.0  # npm required for gh-pages

    steps:
      - checkout
 
      - add_ssh_keys:
          # To generate a key run the following in git bash (on Windows):
          # ssh-keygen -t rsa -m pem -C "ci-build@fairlearn.org"
          # Do not add a passphrase.
          # Upload public key as a deploy key to the website repository.
          # Upload private key to CircleCI as an SSH key at
          # https://app.circleci.com/settings/project/github/fairlearn/fairlearn#ssh.
          fingerprints:  # fingerprint of deploy (public) key
            - "b5:72:60:33:2a:d4:bb:28:0d:36:23:86:74:d3:c6:10"

      - attach_workspace:
          at: docs/_build
      
      - run:
          # By default GitHub attempts jekyll builds.
          # Instead, we want the webpage to just point at index.html
          name: Disable jekyll builds
          command: touch docs/_build/html/.nojekyll
      
      - run:
          # Create CNAME file for fairlearn.org
          name: Create CNAME file
          command: echo "fairlearn.org" > docs/_build/html/CNAME

      - run:
          name: Update apt
          command: sudo apt update

      - run:
          name: Install npm
          command: sudo apt-get install npm

      - run:
          name: Install gh-pages
          command: npm install --silent gh-pages@2.0.1

      - run:
          name: Configure git
          command: |
            git config user.email "ci-build@fairlearn.org"
            git config user.name "ci-build"

      - run:
          name: Update SSH keys
          # Ideally, do something with https://github.blog/changelog/2022-01-18-githubs-ssh-host-keys-are-now-published-in-the-api/
          command: |
            ssh-keyscan github.com > ssh_known_hosts
            cat ssh_known_hosts
            mkdir .ssh
            chmod 700 .ssh
            cp ssh_known_hosts .ssh/known_hosts
            chmod 600 .ssh/known_hosts
            sudo mv ssh_known_hosts /etc/ssh/ssh_known_hosts
            sudo chown root:root /etc/ssh/ssh_known_hosts
            sudo chmod 644 /etc/ssh/ssh_known_hosts
            ls -alF /etc/ssh

      - run:
          name: 'Push to GitHub Pages repository'
          # Next is only acceptable because this is running in a docker container which is not persisted
          # See https://github.com/tschaub/gh-pages/issues/422
          command: sudo gh-pages --dotfiles --message "Updates" --dist docs/_build/html --repo https://github.com/fairlearn/fairlearn.github.io.git --branch master

# This workflow defines the ordering, in this case build-doc needs to happen
# before deploy-doc.
workflows:
  version: 2
  build-webpage:
    jobs:
      - build-doc
      - build-doctest
      - deploy-doc:
          requires:
            - build-doc
          filters:
            branches:
              only: main  # don't deploy to GitHub pages from other branches
