# This CircleCI workflow builds our documentation into HTML pages.
# The generated pages are viewable as artifacts in CircleCI.
# CircleCI can be run on PRs from forks & allows viewing stored artifacts
# without download.

version: 2.0

jobs:
  build-doc:
    docker:
      - image: circleci/python:3.7.3-stretch

    working_directory: ~/tmp-fairlearn
    steps:
      # check out PR branch
      - checkout

      - run:
          name: Upgrade pip, setuptools, and wheel before installing other dependencies
          command: sudo python -m pip install --upgrade pip setuptools wheel
      
      - run:
          name: 'Install required packages'
          command: sudo pip install -r requirements.txt
      
      - run:
          name: 'Build'
          command: python -m sphinx -b html -j auto docs docs/_build/html

      - store_artifacts:
          path: docs/_build/html

# Adding this workflow specification only to have the check in GitHub show up
# as "build-webpage" as opposed to "workflow" (default).
workflows:
  version: 2
  build-webpage:
    jobs:
      - build-doc