/* Getting started installation cards */

.intro-card {
    background:#FFF;
    border-radius:0;
    padding: 30px 10px 10px 10px;
    margin: 10px 0px;
  }
  
  .intro-card .card-text {
    margin:20px 0px;
    /*min-height: 150px; */
  }
  
  .intro-card .card-img-top {
    margin: 10px;
  }
  
  .install-block {
    padding-bottom: 30px;
  }
  
  .install-card .card-header {
    border: none;
    background-color:white;
    color: #150458;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
  }
  
  .install-card .card-footer {
    border: none;
    background-color:white;
  }
  
  .install-card pre {
    margin: 0 1em 1em 1em;
  }