<!DOCTYPE html>
<title>Fairness Dashboard</title>
{% if has_local_url %}
<a href="{{local_url}}" target="_blank">Open in new tab</a>
{% endif %}
<div style="height: 1000px;" id="{{app_id}}"></div>
<script type="text/javascript"> {{ main_js }}; </script>
<script defer type="text/javascript">
  (function universalLoad(root, callback) {
        if(typeof exports === 'object' && typeof module === 'object') {
          // CommonJS2
          var fairnessInline = require('inline-fairness-dashboard');
          callback(fairnessInline);
        } else if(typeof define === 'function' && define.amd) {
          // AMD
          require(['inline-fairness-dashboard'], function(fairnessInline) {
            callback(fairnessInline);
          });
        } else if(typeof exports === 'object') {
          // CommonJS
          var fairnessInline = require('inline-fairness-dashboard');
          callback(fairnessInline);
        } else {
          // Browser
          callback(root['inline-fairness-dashboard']);
        }
      })(this, function(fairnessInline) {
          var data = {{ fairness_input | safe }};
          //data.predictionUrl = data.predictionUrl ? data.predictionUrl : undefined;
          fairnessInline.RenderDashboard("{{app_id}}", data);
      });
</script>
