include fairlearn/python/fairlearn/fairlearn/widget/static/extension.js
include fairlearn/python/fairlearn/fairlearn/widget/static/index.js
recursive-include jupyter-config *.json
recursive-include fairlearn/python/fairlearn/fairlearn/widget/static *.js.map