@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .container {
        max-width: 375px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

a {
    color: #666666;
}

p {
    font-size: 15px;
    color: #333333;
}

a:hover {
    color: #2a2af0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}


/*--------------------------------------------------------------
# Search Bar
--------------------------------------------------------------*/

.searchbardiv {
    display: block;
    position: fixed;
    background: #FFFFFF;
    top: 80px;
    right: 0px;
    z-index: 1001;
    width: 100%;
    max-width: 100%;
    padding: 84px 275px 0px 385px;
    margin: 0px;
    min-height: 300px;
}

.buttonsearch {
    display: inline-block;
    padding: 0px;
}

#formsearch {
    display: none;
}

.glyphicon.glyphicon-search {
    font-size: 18px;
}

#searchbox {
    box-shadow: none;
    padding: 24px 0px;
    border: none;
    border-bottom: 1px solid #ccc!important;
    border-radius: 0;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#searchbox:hover {
    box-shadow: none;
}

.form-control:focus {
    border-color: #ccc;
}

.navbar-toggle {
    margin-right: 35px;
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.buttonclose {
    display: inline-block;
    padding: 0px;
    border: 0px;
    outline: none;
}

.hidden {
    display: none !important;
}



.close-img-hover{
    display: none;
}
.buttonclose:hover .close-img-hover {
    display: inline;
}

.buttonclose:hover .close-img {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .searchbardiv {
        padding: 84px 175px 0px 185px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .searchbardiv {
        padding: 84px 75px 0px 85px;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

#header.header-scrolled,
#header.header-inner-pages {
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
    font-size: 32px;
    margin-top: -5px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #666666;
}

#header .logo img {
    max-height: 40px;
}

.header-content {
    height: 100%;
}

@media (max-width: 992px) {
    #header {
        padding: 12px 0;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu {
    margin-left: -80px;
    height: 100%;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
    height: 100%;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>ul>li:hover {
    background: #F2F2F2;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #333333;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 28px 17px 10px 17px;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #000;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    transition: 0.3s;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.12));
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    color: #333333;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    background-color: #F2F2F2;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: 'IcoFont';
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1200px) {
    .nav-menu {
        margin-left: 0px !important;
    }
}

@media (max-width:1024px) {
    .nav-menu {
        display: none !important;
    }
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}


/* GitHub Button */

.get-started-btn {
    background: #F2F2F2;
    border-radius: 30px;
    padding: 10px 20px;
    width: 117px;
    height: 44px;
    transition: 0.3s;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 20px;
    display: inline-block;
    color: #000000;
}

.get-started-btn:hover {
    background-color: #2364D2;
    color: #ffffff;
}

.spyglass-image {
    margin-right: 8px;
}

.spyglass-image-black {
    margin-right: 8px;
    display: none;
}

.get-started-btn:hover .spyglass-image-black {
    display: inline;
}

.get-started-btn:hover .spyglass-image {
    display: none;
}

.search-image-black {
    display: none;
}

.search-btn:hover .search-image-black {
    display: inline;
}

.search-btn:hover .search-image {
    display: none;
}

@media (max-width: 768px) {
    .get-started-btn {
        margin-right: 10px;
    }
    .search-link {
        margin-right: 40px;
    }
}

@media (max-width: 1200px) {
    .get-started-btn {
        display: none;
    }
}


/* Mobile Navigation */

.mobile-nav-toggle {
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #333333;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #666666;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #5a5af3;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: 'IcoFont';
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(112, 111, 121, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    background: linear-gradient(233.43deg, #2FBCDB 0%, #2364D2 58.32%, #1F3598 109.22%);
    padding: 90px 0px;
    margin-top: 80px;
}

.hero-img {
    background: linear-gradient(0deg, rgba(204, 204, 204, 0.05), rgba(204, 204, 204, 0.05)), #FFFFFF;
    opacity: 0.1;
}

#hero h1 {
    margin: 0;
    font-size: 80px;
    line-height: 86px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

#hero h2 {
    margin: 10px 0 0 0;
    font-size: 20px;
}

#hero ul {
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

#hero p {
    padding: 10px 130px 0px 0px;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
    color: #FFFFFF;
}

#hero .btn-get-started {
    display: inline-block;
    background: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border-radius: 30px;
    width: 129px;
    height: 43px;
    color: #2364D2;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 11px 10px 11px 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

#hero .btn-get-started:hover {
    background: #2364D2;
    color: #FFFFFF
}

.hero-img {
    min-height: 350px
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero p {
        padding: 10px 0px 0px 0px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero {
        text-align: center;
    }
    #hero ul {
        text-align: left;
        font-size: 14px;
    }
    #hero .hero-img img {
        width: 80%;
    }
    #hero .btn-get-started,
    #hero .btn-get-quote {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    #hero h1 {
        padding: 0px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-bg {
    background-color: #eeeef5;
}

.section-title h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0.015em;
    color: #333333;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #434175;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #5a5af3;
    bottom: 0;
    left: calc(50% - 25px);
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    padding: 95px 0px 101px 0px;
}

.about-img {
    height: 600px;
    background: #F2F2F2;
}

#about .section-title {
    margin-bottom: 100px;
}

#about .wrapper-title {
    font-size: 15px;
    line-height: 16px;
    color: #2364D2;
    margin-bottom: 20px;
}

#about .wrapper-content {
    padding-right: 180px
}


/*--------------------------------------------------------------
# Usecase
--------------------------------------------------------------*/

.usecase {
    padding: 83px 0px;
    background: #F2F2F2;
}

.usecase-title>* {
    text-align: center;
}

.usecase .section-title p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #2364D2;
}

.usecase-img {
    margin-top: 50px;
    float: right;
    width: 430px;
    height: 400px;
    background: #757575;
    opacity: 0.1;
}

.usecase-content {
    margin-top: 50px;
}

.usecase-content button {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    padding: 11px 30px;
    background: #3772CE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    color: #ffffff;
}

.usecase-content button:hover {
    background: #1F3598;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .usecase-img {
        float: none;
        width: 100%
    }
}


/*--------------------------------------------------------------
# Getting started
--------------------------------------------------------------*/

.getstarted {
    padding: 100px 0px 62px 0px;
    background: rgba(204, 204, 204, 0.025);
}

.getstarted a {
    color: #2364D2;
}

.install-content {
    padding-bottom: 52px;
    border-bottom: 1px solid #F2F2F2;
}

.install-content>.section-title>p {
    font-size: 18px;
}

.install-code {
    padding: 5px 21px 6px 21px;
    font-size: 15px;
    background: rgba(204, 204, 204, 0.1);
    border: 1px solid #F2F2F2;
    line-height: 18px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: #333333;
}

.getstarted button {
    margin: 30px 0px;
    padding: 11px 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    background: #3772CE;
    border-radius: 30px;
}

.getstarted button:hover {
    background: #1F3598;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
}

.getstarted-img {
    margin-top: 67px;
    height: 350px;
    background: #F2F2F2;
}

.resources-title {
    margin: 30px 0px;
}

.resource-img {
    width: 100px;
    height: 100px;
    background: #F2F2F2;
}

.resource-content {
    margin-top: 20px;
}

.resource-content>h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.getstarted .resource-content p {
    font-size: 15px;
}

.getstarted-install p {
    font-size: 17px;
}


/*--------------------------------------------------------------
# Community
--------------------------------------------------------------*/

.community {
    padding: 60px 0px 0px 0px;
    background: #F2F2F2;
}

.community .link-block {
    padding: 30px 19px 18px 21px !important;
    margin-top: 7px;
    background: #FFFFFF;
    border-radius: 5px;
}

.community .section-title P {
    margin-bottom: 41px;
}

.community .title-box {
    display: flex;
}

.title-box img {
    margin-right: 10px;
}

.title-box h6 {
    margin: 6px 0px 0px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.title-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}
.community .link-block:hover {
    cursor: pointer;
    background: #2364D2;
}

.community .link-block:hover .title-box h6 {
    color: #FFFFFF;
}
.community .link-block:hover .title-content p {
    color: #FFFFFF;
}
.title-content {
    margin-top: 10px;
}

.community-img {
    margin-top: 30px;
    background: #757575 !important;
    opacity: 0.1;
    height: 400px;
}

.github-icon-hover {
    display: none;
}

.community .link-block:hover .github-icon {
    display: none;
}

.community .link-block:hover .github-icon-hover {
    display: inline;
}

.twitter-icon-hover {
    display: none;
}

.community .link-block:hover .twitter-icon {
    display: none;
}

.community .link-block:hover .twitter-icon-hover {
    display: inline;
}

.stackoverflow-icon-hover {
    display: none;
}

.community .link-block:hover .stackoverflow-icon {
    display: none;
}

.community .link-block:hover .stackoverflow-icon-hover {
    display: inline;
}

.gitter-icon-hover {
    display: none;
}

.community .link-block:hover .gitter-icon {
    display: none;
}

.community .link-block:hover .gitter-icon-hover {
    display: inline;
}
/*--------------------------------------------------------------
# Contribute
--------------------------------------------------------------*/

.contribute {
    padding: 60px 0px 81px 0px;
    background: linear-gradient(233.43deg, #2FBCDB 0%, #2364D2 58.32%, #1F3598 109.22%);
    text-align: center;
}

.contribute p,
.contribute h1 {
    color: #ffffff !important;
}

.contribute button {
    align-items: center;
    padding: 11px 30px;
    margin-top: 20px;
    font-size: 14px !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #2364D2;
    background: #FFFFFF;
    border-radius: 30px;
}

.contribute button:hover {
    background: #1F3598;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
}


/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

#footer {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(204, 204, 204, 0.05), rgba(204, 204, 204, 0.05)), #FFFFFF;
    padding: 18px 0px 0px 0px;
}

#footer ul {
    padding: initial;
}

#footer li {
    list-style-type: none;
    padding: 0px 0px 12px 0px;
    font-size: 13px;
    color: #333333;
}

#footer li>a {
    color: #333333;
}

#footer li>a>img {
    background-color: #2FBCDB;
}

#footer li>a>img:hover {
    background-color: #2364D2;
}

.footer-top {
    border-bottom: 0.5px solid #CCCCCC;
}

footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

footer input {
    border: none;
    background: #F2F2F2;
}

footer input:focus {
    outline: none !important;
}

footer input::placeholder {
    color: #999999;
    font-size: 13px;
}

footer .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

footer .py-4 a {
    margin-right: 30px;
}

footer .py-4 a img {
    padding-bottom: 5px;
}

footer .footer-copyright a,
.copyright {
    font-size: 13px;
    color: #333333 !important;
}

.footer-contact>p {
    font-size: 13px;
    line-height: 16px;
}

.textbox {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-animation: turnaround 20s infinite;
    animation: turnaround 20s infinite;
}

.textbox-box {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    -webkit-animation: hover 2s alternate infinite;
    animation: hover 2s alternate infinite;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
    border-radius: 20px;
}

.textbox-field {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    align-self: stretch;
    border-radius: 5px;
}

.textbox-action {
    height: 44px;
    width: 44px;
    min-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    -border-radius: 100px;
    transform-style: preserve-3d;
    -webkit-animation: hover 2s -0.4s alternate infinite;
    animation: hover 2s -0.4s alternate infinite;
    position: relative;
    transition: all 0.2s ease;
    border-radius: 50%;
}

.text-action-grey {
    background-color: #CCCCCC;
}

.text-action-blue {
    background-color: #2364D2;
}

.textbox-action svg {
    fill: #272343;
    width: 65%;
    height: 65%;
    -webkit-animation: hover 2s -0.6s alternate infinite;
    animation: hover 2s -0.6s alternate infinite;
}

.textbox-action:hover {
    cursor: pointer;
    background-color: #1F3598;
}

.textbox-text {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    -webkit-animation: hover 2s -0.4s alternate infinite;
    animation: hover 2s -0.4s alternate infinite;
    display: block;
    color: #272343;
}